* {
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  --default-font-family: unset;
  --main-font-family: var(--default-font-family, 'New Times Roman');

  --scroller-background: unset;
  --scroller-background-color: unset;
  --scroller-font-color: unset;
  --scroller-font-size: unset;
  --scrolling-duration: unset;
  --scrolling-offset: unset;

  --text-shadow: unset;
  --animation-duration: 0ms;

  --active-color: green;
  --button-color: #eff7fc;
  --disabled-color: grey;
  --hint-color: palegreen;
  --label-color: white;
}

body {
  position: static;
  z-index: 0;
}

.hidden {
  display: none !important;
}

.scroller-background {
  width: 100vw;
  height: 100vh;
  background: var(--scroller-background);
}

.scroller-content {
  font-family: var(--main-font-family);
  font-size: var(--scroller-font-size);
  color: var(--scroller-font-color);
  text-overflow: clip;
  white-space: nowrap;
  position: relative;
  user-select: none;
}
.scroller-content.shadow-animation {
  animation: flicker var(--animation-duration) infinite alternate;
}
.scroller-content.static-shadow {
  text-shadow: var(--text-shadow);
}

@keyframes flicker {
  0%, 33% {
    text-shadow: var(--text-shadow)
  }
  100% {       
    text-shadow: none;
  }
}

.scroller-content.slide {
  transition: transform var(--scrolling-duration) linear;
}

@media (orientation: landscape) {
  .scroller-background {
    display: flex;
    align-items: center;
  }

  .scroller-container {
    overflow-x: hidden;
    width: 100vw;
  }

  .scroller-content {
    padding: 0 calc(var(--scroller-font-size) / 4) 0 calc(var(--scroller-font-size) / 4);
  }

  .scroller-content.slide {
    transform: translateX(var(--scrolling-offset));
  }
}
@media (orientation: portrait) {
  .scroller-container {
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .scroller-content {
    padding: calc(var(--scroller-font-size) / 4) 0 calc(var(--scroller-font-size) / 4) 0;
    text-orientation: sideways;
    writing-mode: vertical-rl;
  }

  .scroller-content.slide {
    transform: translateY(var(--scrolling-offset));
  }
}

.menu-overlay {
  z-index: 20; position: absolute;
  left: calc(100vw - 12vmin - 2vmin); top: 2vmin;
  width: 12vmin; height: 12vmin;
  opacity: 0;
  transition: opacity 600ms ease-in-out;;
}
.menu-overlay.show {
  opacity: 1;
}
.menu {
  color: var(--scroller-background-color);
  filter: invert(1);
  font-size: 8vmin;
  border: 1px dashed black;
  border-radius: 2vmin;
  padding: 0 0 0.8vmin 2.4vmin;
}
.menu::after {
  content: '☰';
}

.overlay {
  z-index: 10; position: absolute;

  --overlay-background: rgb(32, 32, 32);
  --overlay-opacity: 0.8;
}
.overlay.slide-in,
.overlay.slide-out {
  transition: transform 800ms ease-in-out;
}

.settings-view {
  display: flex;
  font-family: var(--main-font-family);
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid grey;
  border-radius: 1vmin;
}
.settings-view > .settings-content {
  flex-basis: 80%;
  background-color: var(--overlay-background);
  opacity: var(--overlay-opacity);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: var(--label-color);
}
.settings-view > .settings-tabs {
  flex-basis: 18%;
  background-color: var(--overlay-background);
  opacity: var(--overlay-opacity);

  display: flex;
  justify-content: space-evenly;
}
.settings-view > .settings-pad {
  flex-basis: 2%;
  background-color: var(--overlay-background);
  opacity: var(--overlay-opacity);
}

.settings-tab {
  border: none;
  border-radius: 2vmin;
  background-color: var(--button-color);
  display: flex;
}
.settings-tab > :first-child {
  flex-basis: 80%;
}

.settings-tab.text > .tab-icon::after {
  /* 🖹📝💬 */
  content: '💬';
}
.settings-tab.foreground > .tab-icon::after {
  content: '🎨';
}
.settings-tab.glow > .tab-icon::after {
  /* 💗✨🌟 */
  content: '✨';
}
.settings-tab.background > .tab-icon::after {
  content: '░░';
}
.settings-tab.more > .tab-icon::after {
  content: 'ⓘ';
}

.tab-icon {
  display: flex;
  align-items: center;
}
.tab-icon::after {
  margin: auto;
  font-size: x-large;
  font-weight: bold;
}

.tab-label {
  color: var(--disabled-color);
}
.settings-tab.selected,
.settings-tab.selected > .tab-label {
  color: var(--active-color);
  font-weight: bold;
}

.settings-content.foreground > div:first-child,
.settings-content.glow > div:first-child,
.settings-content.background > div:first-child,
.settings-content.more > div:first-child {
  margin: 2vmin 2vmin 1vmin 2vmin;
}
.settings-content.foreground > div:not(:first-child):not(:last-child),
.settings-content.glow > div:not(:first-child):not(:last-child),
.settings-content.background > div:not(:first-child):not(:last-child) {
  margin: 0 2vmin;
  border-top: 1px solid var(--disabled-color);
  padding: 1vmin 0;
}
.settings-content.foreground > div:last-child,
.settings-content.glow > div:last-child,
.settings-content.background > div:last-child {
  margin: 1vmin 2vmin 2vmin 2vmin;
  border-top: 1px solid var(--disabled-color);
  padding: 1vmin 0;
}
.settings-content.background > div {
  padding: 3vmin 0 !important;
}

.settings-content.text {
  justify-content: center;
}
.settings-content.text button {
  border: 1px outset darkgrey;
  border-radius: 2vmin;
  background-color: var(--button-color);
  color: var(--active-color);
  padding: 1vmin 4vmin;
  font-size: x-large;
}
.settings-content.text textarea {
  outline: none;
  border: none;
  border-radius: 1vmin;
  font-size: x-large;
  margin: 3vmin auto;
  padding: 1vmin;
  resize: none;
  width: 88%;
  min-width: max-content;
}
.settings-content.text textarea:focus {
  outline: 2px outset var(--active-color);
}

.settings-content .disabled span {
  color: var(--disabled-color) !important;
}

.settings-content div.label {
  margin: 0 1vmin 0 2vmin;
  text-align: left;
}

.settings-content input[type="range"] {
  padding: 1.5vmin 0;
  width: 72%;
}
.settings-content div.label span.hint {
  color: var(--hint-color);
}
div.input span.color-line {
  white-space: nowrap;
}
div.input span.color-name {
  background-color: white;
  border: none;
  border-radius: 1vmin;
  padding: 0 1vmin;
  margin-right: 0.75vmin;
  vertical-align: super;
}
div.input span.color-name.red {
  color: red;
}
div.input span.color-name.green {
  color: green;
}
div.input span.color-name.blue {
  color: blue;
}
div.input span input {
  vertical-align: bottom;
}

div.input > input.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: circle(0);
}
div.label > label[for="bg-image"],
div.label > button#paste-image-url {
  border: 1px outset darkgray;
  border-radius: 1vmin;
  background-color: var(--button-color);
  color: var(--active-color);
  margin-left: 1vmin;
  padding: 1vmin 2vmin;
}

div.input > #image-url-prompt {
  text-align: left;
  word-break: break-all;
}
span.error {
  color: red;
}
span.success {
  color: green;
}

.settings-content.more {
  opacity: 1;
  justify-content: space-around;
  white-space: nowrap;
}
.settings-content.more .share div.input {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

div.app,
div.copyright {
  text-align: center;
}

div.copyright,
div.copyright a {
  color: #d0d0d0;
  font: 3vmin var(--main-font-family);
}

a, a:hover, a:visited {
  color: var(--label-color);
  text-decoration: underline dotted;
}

@media (orientation: landscape) {
  .overlay {
    left: calc(100dvw - 100vmin); top: 0;
    width: 100vmin; height: 100vmin;
  }
  .overlay.slide-in {
    transform: translateX(-100%);
  }
  .overlay.slide-out {
    transform: translateX(100%);
  }

  .settings-view,
  .settings-tab {
    flex-direction: row;
  }

  .settings-tabs {
    flex-direction: column;
  }

  .tab-label {
    text-orientation: mixed;
    padding: 2vmin 0;
  }
}
@media (orientation: portrait) {
  .overlay {
    left: 0; top: calc(100dvh - 100vmin);
    width: 100vmin; height: 100vmin;
  }
  .overlay.slide-in {
    transform: translateY(-100%);
  }
  .overlay.slide-out {
    transform: translateY(100%);
  }

  .settings-view,
  .settings-tab {
    flex-direction: column;
  }

  .settings-tabs {
    flex-direction: row;
  }

  .tab-label {
    padding: 0 4vmin;
  }
}
